<!DOCTYPE html>
<html>
<body>
    <center>
        <h1>Welcome to the Search Ranking Survey</h1>
    </center>
    <form name = 'form' class = 'form' method = 'POST' action="/new_user/">
        <!-- <fieldset> -->
        <left>
            uniqname:<input name="uniqname" id="uniqname" value="">
            <input type="hidden" name="source" id="source" value="home">
            <input type="hidden" name="best_option" id="best_option" value="">
            <input type="hidden" name="worst_option" id="worst_option" value="">
            <br>
            <br>
            <input type="submit" value="Submit">
        </left>
        <!-- </fieldset> -->
    </form>
</body>

</html>